* {
    margin: 0;
    padding: 0%;
}

body {
    font-family:"Baloo 2", cursive;
}

.tabs {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.tabs ul {
    height: 50px;
    float: right;
}

.tabs ul a {
    display: inline-block;
    padding: 40px 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.tabs ul li:hover {
    cursor: pointer;
}

.tabs h2 {
    text-align: center;
    color: #fff;
    font-size: 200px;
    margin-top: 17%;
}

.animation-a {
    background: black;
    /* background: linear-gradient(to left, #8942a8, #ba382f); */
    width: 100%;
    height: 100vh;
}

.boxa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.boxa li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255,255,255, 0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
}

.boxa li:nth-child(1) {
    left: 58%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

  .boxa li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
  }
  .boxa li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
  }
  .boxa li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
  }
  .boxa li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
  }
  .boxa li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
  }
  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(-800px) rotate(360deg);
      opacity: 0;
    }
  }